.blog-content {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 24px;
}

.blog-posts-container {
	max-width: 680px;
}

.featured-post-container {
	margin-bottom: 40px;
}

.featured-post .image {
	background: url('../img/featured.png');
	background-size: cover;
	background-position: 67% 47%;
	height: 382px;
	display: block;
}

.featured-post .title {
	margin-top: 13px;
}

.featured-post .title p {
 margin-top: 4px;
 font-size: 18.96px;
 line-height: 24px;
 color: rgba(0, 0, 0, 0.54);
}

.featured-post .author-container {
	margin-top: 16px;
}

.author-container .author {
	display: flex;
	align-items: center;
}

.author-container .info {
	margin-left: 16px;
	display: block;
}

.featured-post .author .image {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
