.sidebar-container {
	padding: 0 ;
}

.sidebar {
	margin-left: 56px;
}

.sidebar .category-container .category-header {
	margin-top: 5px;
	font-size: 13.8px;
	color: rgba(0, 0, 0, 0.54);
}

.sidebar .follow-container {
	margin-top: 20px;
}

.sidebar .follow-text-container {
	margin-top: 23px;
}

.follow-text-container .follow-text {
	font-size: 13.8px;
	color: rgba(0, 0, 0, 0.54);
}

.sidebar .related-topics-container {
	margin-top: 48px;
	margin-bottom: 20px;
}

.sidebar .related-item-container {
	margin-top: 8px;
}

.related-item-container .related-item {
 font-size: 14.22px;
 color: rgba(0, 0, 0, 0.76);
 line-height: 18px;
 text-transform: uppercase;
 font-weight: 400;
}

.related-topics-container .related-topics {
	font-size: 15px;
	line-height: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.84);
	text-transform: uppercase;
	padding-bottom: 8px;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.related-item-container a:hover {
	text-decoration: none;
}

.related-item-container span:hover {
	color: #52b8ff;
}

.sidebar .popular-in-category-container {
	margin-top: 48px;
}

.popular-in-category {
	text-transform: uppercase;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 15px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.84);
	margin: 0;
}

.popular-item-container {
	height: 100%;
	width: 100%;
}

.popular-item {
	display: flex;
	margin-top: 16px;
	margin-bottom: 16px;
}

.popular-item .popular-item-title {
	flex: 1 1 0%;
	margin-right: 12px;
	flex-direction: column;
	display: flex;
}

.popular-item .popular-item-title a:hover {
	color: #52b8ff;
	text-decoration: none;
}

.popular-item .popular-item-title h4 {
	font-size: 15px;
	letter-spacing: -0.17px;
	font-weight: 600;
	line-height: 20px;
}

.popular-item .popular-item-image-container {
	flex: 0 0 auto;
	display: block;
}

.popular-item .popular-item-image {
	background-image: url('https://miro.medium.com/max/110/1*8pPq8OFnWnilx36ouajkAA.jpeg');
	width: 55px;
	height: 55px;
	background-position: 54% 54%;
	background-size: cover;
	background-origin: border-box;
	display: block;
}
