<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {{ standard_header_includes }}
    </head>
    <body>
    <!-- NAVIGATION -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
			<a class="navbar-brand">Simtalk</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">News and Events</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- SLIDER -->
    {% if is_listing_view %}
		<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel" data-interval="7000">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active bg-primary">
				<li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-primary">
				<li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-primary">
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url('https://cdn2.hubspot.net/hubfs/5871227/nurse-banner.jpg');">
				</div>
				<div class="carousel-item" style="background-image: url('https://cdn2.hubspot.net/hubfs/5871227/nurse-banner.jpg');"></div>
				<div class="carousel-item" style="background-image: url('https://cdn2.hubspot.net/hubfs/5871227/nurse-banner.jpg');"></div>
			</div>
		</div>
    {% endif %}

		<!-- BLOG CONTENT -->
		<section class="blog-content">
			<div class="row">
				<!-- BLOG POSTS -->
        {% if is_listing_view %}
				<div class="col-md-8">
					<div class="blog-posts-container">
						<div class="featured-post-container">
							<div class="featured-post">
								<div>
									<a href="#" class="image"></a>
								</div>
								<div class="title">
									<h1>Featured Post Title</h1>	
									<p>An increasingly tech-obsessed culture calls for more responsible design</p>
								</div>
								<div class="author-container">
									<div class="author">
										<a href="">
											<img class="image" src="https://miro.medium.com/fit/c/80/80/1*uxG9QsAM2FBz21Iau7tyHQ.jpeg" />
										</a>
										<div class="info">
											<span class="name">Lucas Sallada</span>
											<span class="date">May 16, 2019</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="latest-posts-container">
							<h2>Latest</h2>
              {% for post in contents %}
							<div class="latest-posts">
								<section class="latest-post">
									<div class="post-container">
										<div class="post">
											<h3><a href="{{ post.absolute_url }}">{{ post.name }}</a></h3>
											<p>{{ post.post_summary|truncate(120) }}</p>

											<div class="author-date-container">
												<div class="author-date-flex">
													<div class="author-date">
														<div class="author">
															<a href="{{ group.absolute_url }}/author/{{ post.blog_post_author.slug }}">{{ post.blog_post_author.display_name }}</a>
														</div>
														<div class="date">
															<span>{{ post.publish_date|datetimeformat('%B %e, %Y') }}</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="post-image-container">
											<div class="post-image">
												<a href="#" style="background-image: url('{{ post.featured_image }}')"></a>
											</div>
										</div>
									</div>
								</section>
							</div>
              {% endfor %}
						</div>
					</div>
				</div>

				<!-- SIDEBAR -->
				<div class="col-md-4 sidebar-container">
					<div class="sidebar">
						<!-- CATEGORY -->
						<div class="category-container">
							<div class="category-name-container">
								<h2 class="category-name">Category</h2>
								<span class="category-header">Category header.</span>
							</div>
							<div class="follow-container">
								<button type="button" class="btn btn-outline-success">Follow</button>
							</div>
						</div>
						<div class="follow-text-container">
							<span class="follow-text">Follow to get great stories about Category</span>
						</div>
						<!-- CATEGORY END -->

						<!-- RELATED TOPICS -->
						<div class="related-topics-container">
							<h2 class="related-topics">Related Topics</h2>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Software Engineering</span></a>
              <span class="related-item">{% post_filter "module_149924429563569" expand_link_text='see all', filter_type='topic', max_links=5, overrideable=False, select_blog='default', label='Post Filter' %}</span>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Programming</span></a>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Artificial Intelligence</span></a>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Blockchain</span></a>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Cryptocurrency</span></a>
						</div>
            
            <!-- POPULAR IN CATEGORY -->
            {% set pop_posts = blog_popular_posts('default', 5) %}
						<div class="popular-in-category-container">
							<h2 class="popular-in-category">Popular in category</h2>

              {% for pop_post in pop_posts %}
							<div class="popular-item-container">
								<article class="popular-item">
									<div class="popular-item-title">
										<h4><a href="{{ pop_post.absolute_url }}">{{ pop_post.name }}</a></h4>
									</div>
									<div class="popular-item-image-container">
										<a class="popular-item-image" style="background-image: url('{{ pop_post.featured_image }}')"></a>
									</div>
								</article>
							</div>
              {% endfor %}
              
						</div>
					</div>
				</div>
        {% else %}
        <!-- SINGLE POST --> 
        <div class="col-md-8">
          <section class="post-section single-post-container">
            <h1>{{ content.name }}</h1>
            <figure>
              <img src="{{ content.featured_image }}" class="img-fluid">
            </figure>
            {{ content.post_body }}
<!--             <h2>Open Source isn't as open as you think</h2>
            <figure>
              <img src="img/featured.png" class="img-fluid" />
            </figure>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur facere sint qui vero repellendus est, aut sequi ullam
              excepturi sed ipsum deleniti, ea architecto quas reprehenderit
              consectetur laudantium assumenda velit?
            </p> -->
          </section>
        </div>
        <!-- SIDEBAR -->
        <div class="col-md-4 sidebar-container single-post-container">
					<div class="sidebar">
						<!-- CATEGORY -->
						<div class="category-container">
							<div class="category-name-container">
								<h2 class="category-name">Category</h2>
								<span class="category-header">Category header.</span>
							</div>
							<div class="follow-container">
								<button type="button" class="btn btn-outline-success">Follow</button>
							</div>
						</div>
						<div class="follow-text-container">
							<span class="follow-text">Follow to get great stories about Category</span>
						</div>
						<!-- CATEGORY END -->

						<!-- RELATED TOPICS -->
						<div class="related-topics-container">
							<h2 class="related-topics">Related Topics</h2>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Software Engineering</span></a>
              <span class="related-item">{% post_filter "module_149924429563569" expand_link_text='see all', filter_type='topic', max_links=5, overrideable=False, select_blog='default', label='Post Filter' %}</span>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Programming</span></a>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Artificial Intelligence</span></a>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Blockchain</span></a>
						</div>

						<div class="related-item-container">
							<a href="#"><span class="related-item">Cryptocurrency</span></a>
						</div>
            
            <!-- POPULAR IN CATEGORY -->
            {% set pop_posts = blog_popular_posts('default', 5) %}
						<div class="popular-in-category-container">
							<h2 class="popular-in-category">Popular in category</h2>

              {% for pop_post in pop_posts %}
							<div class="popular-item-container">
								<article class="popular-item">
									<div class="popular-item-title">
										<h4><a href="{{ pop_post.absolute_url }}">{{ pop_post.name }}</a></h4>
									</div>
									<div class="popular-item-image-container">
										<a class="popular-item-image" style="background-image: url('{{ pop_post.featured_image }}')"></a>
									</div>
								</article>
							</div>
              {% endfor %}
              
						</div>
					</div>
        </div> 
       {% endif %}
			</div>
		</section>
      
        {{ standard_footer_includes }}
    </body>
</html>