<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {{ standard_header_includes }}
      <script src="https://kit.fontawesome.com/8eaa518e93.js"></script>
    </head>
    <body>
    <!-- NAVIGATION -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light mx-auto">
        <div class="navbar-brand">
          <h1><a href="{{ group.absolute_url }}">Simtalk Blog</a> <small>Simulation in Healthcare Education</small></h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}/tag/nursing-education">NurseEd</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}/tag/moulage-education">MoulageEd</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}/tag/pharm-education">PharmEd</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}/tag/ct-education">CTEd</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ group.absolute_url }}/tag/pt-education">PTEd</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.pocketnurse.com/">Pocket Nurse</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

		<!-- SLIDER -->
    {% if is_listing_view and not blog_author and not topic %}    
		<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel" data-interval="7000">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
				<li data-target="#carouselExampleIndicators" data-slide-to="1">
				<li data-target="#carouselExampleIndicators" data-slide-to="2">
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url('https://dummyimage.com/1920/5e575e/fff.png');">
				</div>
				<div class="carousel-item" style="background-image: url('https://dummyimage.com/1920/5e575e/fff.png');"></div>
				<div class="carousel-item" style="background-image: url('https://dummyimage.com/1920/5e575e/fff.png');"></div>
			</div>
		</div>    
    {% endif %}

		<!-- BLOG CONTENT -->
    {% if is_listing_view %}
		<section class="blog-content {% if blog_author or topic %} listing-view {% endif %}">
			<div class="row">
				<!-- BLOG POSTS -->        
				<div class="col-md-8">
					<div class="blog-posts-container">
            
            <!-- FEATURED POST -->
            <!-- DISABLES FEATURED POST ON BLOG AUTHOR  AND TOPIC LISTING -->
            {% if not blog_author and not topic %}            
            {% set topic_posts = blog_recent_topic_posts('default', 'featured', 1) %}
            {% for topic_post in topic_posts %}            
              <div class="featured-post-container">
                <div class="featured-post">
                  <div>
                    <a href="{{ topic_post.absolute_url }}" class="image" style="background-image: url('{{ topic_post.featured_image }}');"></a>
                  </div>
                  <div class="title">
                    <h1><a href="{{ topic_post.absolute_url }}">{{ topic_post.name }}</a></h1>	
                    <p>{{ topic_post.post_list_content|safe|truncatehtml(220) }}</p>
                  </div>
                  <div class="author-container">
                    <div class="author">
                      <a href="">
                        <img class="image" src="{{ topic_post.blog_author.avatar }}" />
                      </a>
                      <div class="info">
                        <span class="name"><a href="{{ group.absolute_url }}/author/{{ topic_post.blog_post_author.slug }}">{{ topic_post.blog_post_author.display_name }}</a></span>
                        <span class="date">{{ topic_post.publish_date|datetimeformat('%B %d,  %Y') }}</span>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              {% endfor %}            
            {% endif %}

						<div class="latest-posts-container">
							<h2>Latest</h2>
              
              {% for post in contents %}
              <!-- FILTER ALL TOPICS WITH FEATURED TAG TO NOT SHOW UP -->
              {% unless 'featured' in post.topic_list|map('name') %}
              <section class="w x y ft ab n">
                <div class="y du">
                  <section class="fr fs ae">
                    <div class="v fu ab ae fv cv fw fx fy ah">
                      <div class="fz n fy ah cy">
                        <div class="ef eg">
                          <h3 class="aq cd da bb db bc em ga gb as av eo dg dh au">
                            <a href="{{ post.absolute_url }}">{{ post.name }}</a>
                          </h3>
                          <div class="el n">
                            <p class="bg bh bb b bc bd be bf as av dj dg dh au ef ep">
                              <a href="{{ post.absolute_url }}">{{ post.post_summary|truncate(120) }}</a>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="gh n">
                        <div class="n fw">
                          <div class="ae">
                            <span class="bb b bc bd be bf as av dj dg dh au aq cd">
                              <a href="/@simonstillspace?source=topic_page---------0------------------1"></a>
                            </span>
                          </div>
                          <span>
													  <a href="{{ group.absolute_url }}/author/{{ post.blog_post_author.slug }}">{{ post.blog_post_author.display_name }}</a>
                          </span>
                          <span class="bb b bc bd be bf n bg bh">
                            <div class="ae af">
                              <div class="ff ae fg">
                                {{ post.publish_date|datetimeformat('%B %e, %Y') }}
                              </div>
                              <div class="fj an n fk ba">
                              </div>
                            </div>
                          </span>
                        </div>
                        <div class="n fk ba gi">
                        </div>
                      </div>
                    </div>
                    <div class="n">
                      <div class="du n g">
                        <a href="{{ post.absolute_url }}" style="background-image: url('{{ post.featured_image }}')" class="n dx dy gd gk du gl"></a>
                      </div>
                    </div>
                  </section>
                </div>
              </section>
              {% endunless %}
              {% endfor %}
						</div>
            
            {% if not simple_list_page %}
            <div class="blog-pagination">
            {% if contents.total_page_count > 0 %}
                {% if widget.range == 10 %}
                    {% set base = 10 %}
                    {% set loop_ = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %}
                {% else %}
                    {% set base = 5 %}
                    {% set loop_ = ['1', '2', '3', '4', '5'] %}
                {% endif %}

                {% set current_pg_index = last_page_num + 1 %}
                {% set range_start = ((1 - current_pg_index) % base) + current_pg_index %}

                {# EXTRA: calculate start of previous range and end of next
                    {% set range_end = range_start + (base)-1 %}

                    {% set previous_range_start = ((6 - current_pg_index) % base) + current_pg_index - base  %}
                    {% if previous_range_start < 1 %}
                        {% set previous_range_start = 1 %}
                    {% endif %}
                #}
                <ul>
                    <li class="first-posts-link {% if current_pg_index <= 1 %}hide{% endif %}"><a href="{{ blog_page_link(1) }}"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="previous-posts-link {% if !last_page_num %}hide{% endif %}"><a href="{{ blog_page_link(last_page_num) }}"><i class="fa fa-angle-left"></i></a></li>
                    <span class="pg">
                        {% set i = range_start %}
                        {% for pg in loop_ %} {# effectively, for i=1 to i=base #}
                            {% if i <= contents.total_page_count %}
                                <li{% if i == current_pg_index %} class="active"{% endif %}><a href="{{ blog_page_link(i) }}">{{ i }}</a></li>

                            {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                    </span>
                    <li class="next-posts-link {% if current_pg_index == contents.total_page_count %}hide{% endif %}"><a href="{{ blog_page_link(next_page_num) }}"><i class="fa fa-angle-right"></i></a></li>
                    <li class="last-posts-link {% if current_pg_index == contents.total_page_count %}hide{% endif %}"><a href="{{ blog_page_link(contents.total_page_count) }}"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            {% endif %}
            </div>
            {% endif %}

					</div>
				</div>

				<!-- SIDEBAR -->
				<div class="col-md-4 sidebar-container">
					<div class="sidebar">
						<!-- CATEGORY -->
						<div class="category-container">
							<div class="category-name-container">
								<h2 class="category-name">Category</h2>
								<span class="category-header">Category header.</span>
							</div>
							<div class="follow-container">
								<button type="button" class="btn btn-outline-success">Follow</button>
							</div>
						</div>
						<div class="follow-text-container">
							<span class="follow-text">Follow to get great stories about Category</span>
						</div>
						<!-- CATEGORY END -->

						<!-- RELATED TOPICS -->
						<div class="related-topics-container">
							<h2 class="related-topics">Related Topics</h2>
						</div>
            
            <div class="related-item-container">
              <span class="related-item">{% post_filter "module_149924429563569" filter_type='topic', max_links=5, overrideable=False, select_blog='default', label='Post Filter' %}</span>
            </div>
            
            <!-- POPULAR IN CATEGORY -->
            {% set pop_posts = blog_popular_posts('default', 5) %}
						<div class="popular-in-category-container">
							<h2 class="popular-in-category">Popular posts</h2>

              {% for pop_post in pop_posts %}
							<div class="popular-item-container">
								<article class="popular-item">
									<div class="popular-item-title">
										<h4><a href="{{ pop_post.absolute_url }}">{{ pop_post.name }}</a></h4>
									</div>
									<div class="popular-item-image-container">
										<a class="popular-item-image" style="background-image: url('{{ pop_post.featured_image }}')"></a>
									</div>
								</article>
							</div>
              {% endfor %}
              
						</div>
					</div>
				</div>
      </div>
      </section>
       
      {% else %}
      <!-- SINGLE POST --> 
      <section class="blog-content listing-view">
        <div class="row">
          <div class="col-md-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ group.absolute_url }}">{{ group.public_title }}</a></li>
                <li class="breadcrumb-item"><a href="{{ content.absolute_url }}">{{ content.name }}</a></li>
              </ol>
            </nav>
            <section class="post-section single-post-container">
              <h1>{{ content.name }}</h1>
              <figure>
                <img src="{{ content.featured_image }}" class="img-fluid">
              </figure>
              {{ content.post_body }}              
            </section>
          </div>
        <!-- SIDEBAR -->
          <div class="col-md-4 sidebar-container single-post-container">
            <div class="sidebar">
              <!-- CATEGORY -->
              <div class="category-container">
                <div class="category-name-container">
                  <h2 class="category-name">Category</h2>
                  <span class="category-header">Category header.</span>
                </div>
                <div class="follow-container">
                  <button type="button" class="btn btn-outline-success">Follow</button>
                </div>
              </div>
              <div class="follow-text-container">
                <span class="follow-text">Follow to get great stories about Category</span>
              </div>
              <!-- CATEGORY END -->

              <!-- RELATED TOPICS -->
              <div class="related-topics-container">
                <h2 class="related-topics">Related Topics</h2>
              </div>
              
              <div class="related-item-container">
                <span class="related-item">{% post_filter "module_149924429563569" expand_link_text='see all', filter_type='topic', max_links=5, overrideable=False, select_blog='default', label='Post Filter' %}</span>
              </div>

              <!-- POPULAR IN CATEGORY -->
              {% set pop_posts = blog_popular_posts('default', 5) %}
              <div class="popular-in-category-container">
                <h2 class="popular-in-category">Popular posts</h2>

                {% for pop_post in pop_posts %}
                <div class="popular-item-container">
                  <article class="popular-item">
                    <div class="popular-item-title">
                      <h4><a href="{{ pop_post.absolute_url }}">{{ pop_post.name }}</a></h4>
                    </div>
                    <div class="popular-item-image-container">
                      <a class="popular-item-image" style="background-image: url('{{ pop_post.featured_image }}')"></a>
                    </div>
                  </article>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
      
     <!-- FOOTER -->
     <footer>
      <!-- Footer main -->
      <section class="ft-main">
        <div class="ft-main-item">
          <h2 class="ft-title">Stay Updated</h2>
          <p>Follow us on Twitter to get our latest news.</p>
          <a class="twitter-timeline" data-width="450" data-height="350" data-dnt="true"  href="https://twitter.com/Pocket_Nurse?ref_src=twsrc%5Etfw">Tweets by Pocket_Nurse</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">About</h2>
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title"><a href="https://www.pocketnurse.com/default/">Products</a></h2>
          <ul>
            <li><a href="https://www.pocketnurse.com/default/products/demo-dose">Demo Dose</a></li>
            <li><a href="https://www.pocketnurse.com/default/products/furniture">Furniture</a></li>
            <li><a href="https://www.pocketnurse.com/default/products/manikins-simulators">Manikins and Task Trainers</a></li>
            <li><a href="https://www.pocketnurse.com/default/products/moulage">Moulage</a></li>
            <li><a href="https://www.pocketnurse.com/default/products/patient-care">Patient Care</a></li>
            <li><a href="https://www.pocketnurse.com/default/products/pharm-lab">Pharmacy / IV Supplies</a></li>        
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Contact Us</h2>
          <ul>
            <li><a href="mailto:simtalkblog@pocketnurse.com?subject=Mail from SimTalkBlog">SimTalkBlog@pocketnurse.com</a></li>
            <li>610 Frankfort Road</li>
            <li>Monaca, PA 15061</li>
            <li>800-225-1600</li>
            <li>7 a.m. - 6 p.m. Monday through Friday.</li>
          </ul>
        </div>
      </section>

      <!-- Footer social -->
      <section class="ft-social">
        <ul class="ft-social-list">
          <li><a href="https://www.facebook.com/PocketNurseEnt/"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/Pocket_Nurse"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/pocketnurse/"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCWcPOEgDxgVP-XoiPDIX30w"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </section>

      <!-- Footer legal -->
      <section class="ft-legal">
        <ul class="ft-legal-list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>&copy; 2019 Copyright Pocket Nurse.</li>
        </ul>
      </section>
    </footer>
    {{ standard_footer_includes }}
  </body>
</html>
