footer,
.blog-content:after {
  height: 550px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px 50px;
  background-color: rgb(33, 37, 41);
  color: white;
}

.footer-item {
  margin: 0 auto;
}
