.single-post-container {
  margin-top: 20px;
}

.post-section {
  padding-left: 20px;
  padding-right: 20px;
}

.post-section h1 {
  line-height: 52.5px;
  letter-spacing: 0;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.84);
  font-weight: 400;
}

.post-section h2 {
  margin-top: 5px;
  margin-bottom: 22px;
  margin-bottom: 22px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
}

.post-section p {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 33px;
}
